*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
















  
  
  
    /* Footer */
    
   /* General Styling for the Footer */
.footer {
 
  width: 100%;  /* Full width of the viewport */
  color: #fff;  /* White text color */
  padding: 50px 0 20px 0;  /* Padding around the content */

}

/* Styling for Footer Title */
.footer-title {
  position: relative;  /* Positioned relative to its normal position */
  color: #fff;  /* White text color */
  font-size: 24px;  /* Font size of the title */
  font-weight: 600;  /* Bold font weight */
  margin-top: 5px;  /* Small top margin */
  margin-bottom: 20px;  /* Larger bottom margin */
  border-bottom: 1px solid #4e4e4e;  /* Border at the bottom */
}

.footer-title:after {
  position: absolute;  /* Positioned absolutely */
  content: '';  /* Empty content */
  left: 0;  /* Positioned to the left */
  bottom: 0;  /* Positioned at the bottom */
  width: 30px;  /* Width of the line */
  height: 4px;  /* Height of the line */
  background: #ff304d;  /* Red background color */
}

/* Styling for Footer Links */
.footer-links a {
  padding: 10px 0;  /* Padding around each link */
  border-bottom: 1px solid #404040;  /* Border below each link */
  color: #fff;  /* White text color */
  display: block;  /* Display as a block */
  -webkit-transition: color 0.5s ease-in-out;  /* Transition effect for color */
  -o-transition: color 0.5s ease-in-out;  /* Transition effect for color */
  transition: color 0.5s ease-in-out;  /* Transition effect for color */
  text-decoration: none;  /* No underlines for links */
}

.footer-links a:hover {
  color: #ff304d;  /* Red color on hover */
}
/* Styling for the About Us Section */
.white-text {
  color: #fff;  /* White text color */
}

/* Styling for Social Links */
.footer-social-links li {
  display: inline-block;  /* Display links in a row */
  color: bisque;
}

.footer-social-links a {
  width: 40px;  /* Width of each social link */
  height: 40px;  /* Height of each social link */
  font-size: 16px;  /* Font size of the icon */
  float: left;  /* Float to the left */
  margin-right: 10px;  /* Right margin between links */
  padding: 10px;  /* Padding around each link */
  border: 1px solid #404040;  /* Border around each link */
  border-radius: 50px;  /* Rounded corners for links */
  text-align: center;  /* Center text within the link */
  color: #fff;  /* White text color */
  line-height: 1;  /* Line height of the text */
  -webkit-transition: background 0.3s ease-in-out;  /* Transition effect for background */
  -o-transition: background 0.3s ease-in-out;  /* Transition effect for background */
  transition: background 0.3s ease-in-out;  /* Transition effect for background */
  background: rgba(255, 255, 255, 0.576);  /* Background color of the links */
}

.footer-social-links a:hover {
  background: #eeff30;  /* Red background on hover */
}

/* Styling for Footer Bottom */
.footer-bottom {
  width: 100%;  /* Full width of the container */
  padding: 20px 0;  /* Padding at the top and bottom */
  text-align: center;  /* Center text within the container */
  color: #fff;  /* White text color */
  background: rgb(35, 37, 0);  /* Background color */
}

/* Container for Footer Content */
.container {
  border-top: 2px solid red;  /* Red border at the top */
}
