:root{
    /* variable color */
.bg-color {color: #091827 !important; }
.heading-color {color: #ffffff !important;} 
.text-color {color: #a9b1b8 !important;}
.hl-color {color: #cb0000 !important;}
.nav-color {color: #010056 !important;}
.link-color {color: #2424b7 !important;}
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



/* Default styles for desktop */
.navbar {
    background-color: #3498db;
    padding: 10px 0;
    border-bottom: 2px solid #2980b9;
    display: flex;
    justify-content: space-between;
  }
  
  .navbar-brand {
    font-size: 24px;
    color: #fff;
    font-weight: 700;
  }
  
  .navbar-nav {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-item {
    margin-right: 15px;
  }
  
  .nav-link {
    color: #fff;
    font-weight: 600;
    text-decoration: none;
  }
  
  /* Style the logo */
  .navbar-brand img {
    max-width: 100px;
    height: auto;
  }
  
  /* Media queries for responsiveness */
  @media (max-width: 991px) {
    /* Adjust styles for tablets and smaller screens */
    .navbar-brand {
      font-size: 20px;
    }
  
    .nav-item {
      margin-right: 10px;
    }
  }
  
  @media (max-width: 767px) {
    /* Adjust styles for mobile devices */
    .navbar {
      flex-direction: column;
    }
  
    .navbar-brand {
      font-size: 18px;
      margin-bottom: 10px;
    }
  
    .navbar-nav {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .nav-item {
      margin-right: 0;
      margin-bottom: 5px;
    }
  
    .form-control {
      width: 100%;
    }
  }
  