@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');


:root{
  /* variable color */
.bg-color {color: #091827 !important; }
.heading-color {color: #ffffff !important;} 
.text-color {color: #a9b1b8 !important;}
.hl-color {color: #cb0000 !important;}
.nav-color {color: #010056 !important;}
.link-color {color: #2424b7 !important;}
}



/* styles.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;

}

